<div class='card max-w-3xl px-8 py-8 mb-16 mx-auto'>
  <%= form_with(model: post, local: true, class:'form-style') do |form| %>
    <div class='block mb-8 w-full'>
      <%= form.label :title, class: 'label' %>
      <%= form.text_field :title, class: "form-input w-1/2 border-gray-400 bg-gray-200 text-gray-900 #{"bg-red-100 border-red-500" if @post.errors.include?(:title)}" %>
      <%= inline_error(:title, @post) %>
    </div>

    <div class='block my-8'>
      <% if @post.header_image.attached? && @post.header_image.variable? %>
        <%= image_tag @post.header_image.variant(resize_to_limit: [100, 100]) %>
      <% end %>
      
      <%= form.label :header_image, class: 'label' %>
      <%= form.file_field :header_image, class:'text-gray-900', direct_upload: true %>
    </div>

    <div class='block my-8'>
      <%= form.label :content, class: 'label' %>
      <%= form.rich_text_area :content, class: "border-gray-400 bg-gray-200 #{"bg-red-100 border-red-500" if @post.errors.include?(:title)}" %>
      <%= inline_error(:content, @post) %>
    </div>

    <%= form.submit class: 'px-4 py-2 bg-teal-500 text-white rounded shadow-md hover:bg-teal-700 cursor-pointer' %>
  <% end %>
</div>
