<div class='card form-card'>
  <%= form_with(model: post, local: true, class:'form-style') do |form| %>
    <div class='block mb-8'>
      <%= form.label :title, class: 'label' %>
      <%= form.text_field :title, class: "form-input input w-1/2 #{"input-error" if @post.errors.include?(:title)}" %>
      <%= inline_error(:title, @post) %>
    </div>

    <div class='block my-8'>
      <% if @post.header_image.attached? && @post.header_image.variable? %>
        <%= image_tag @post.header_image.variant(resize_to_limit: [100, 100]) %>
      <% end %>
      
      <%= form.label :header_image, class: 'label' %>
      <%= form.file_field :header_image, class:'text-gray-900', direct_upload: true %>
    </div>

    <div class='block my-8'>
      <%= form.label :content, class: 'label' %>
      <%= form.rich_text_area :content, class: "input #{"input-error" if @post.errors.include?(:content)}" %>
      <%= inline_error(:content, @post) %>
    </div>

    <%= form.submit class: 'button shadow-md' %>
  <% end %>
</div>
