<%= form_with(model: post, local: true, class:'form-style') do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= yield :header %>

  <ul>
    <li>
      <%= form.label :title %>
      <%= form.text_field :title %>
    </li>

    <li>
      <% if @post.header_image.attached? && @post.header_image.variable? %>
        <%= image_tag @post.header_image.variant(resize_to_limit: [100, 100]) %>
      <% end %>
      <%= form.label :header_image %>
      <%= form.file_field :header_image, direct_upload: true %>
    </li>

    <li>
      <%= form.label :content %>
      <%= form.rich_text_area :content %>
    </li>

    <li>
      <%= form.submit %>
    </li>
  </ul>
<% end %>
