<%= form_with(model: portfolio_item, local: true, class:'form-style') do |form| %>
  <% if portfolio_item.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% portfolio_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= yield :header %>

  <ul>
    <li>
      <%= form.label :title %>
      <%= form.text_field :title %>
    </li>

    <li>
      <%= form.label :description %>
      <%= form.text_area :description, class:'textarea' %>
    </li>

    <li>
      <%= form.label :youtube_url %>
      <%= form.text_field :youtube_url %>
    </li>


    <li>
      <%= form.submit %>
    </li>
  </ul>
<% end %>
