<h1>Portfolio Items</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @portfolio_items.each do |portfolio_item| %>
      <tr>
        <td><%= link_to(portfolio_item.title, portfolio_item) %></td>
        <td><%= portfolio_item.description %></td>
        <% if user_signed_in? %>
          <td><%= link_to 'Edit', edit_portfolio_item_path(portfolio_item) %></td>
          <td><%= link_to 'Destroy', portfolio_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Portfolio Item', new_portfolio_item_path %>
<% end %>
