<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @portfolio_item.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @portfolio_item.description %>
</p>

<% if user_signed_in? %>
	<%= link_to 'Edit', edit_portfolio_item_path(@portfolio_item) %> |
<% end %>

<%= link_to 'Back', portfolio_items_path %>
