<div class="nav-toggle">
  <div class="nav-toggle-bar"></div>
</div>
<nav class="nav">
  <ul>
    <li><%= link_to("Home", root_path) %></li>
    <li><%= link_to("Portfolio", portfolio_items_path) %></li>
    <li><%= link_to("Blog", posts_path) %></li>
    <% if user_signed_in? %>
    	<li><%= link_to("New Portfolio Item", new_portfolio_item_path) %></li>
	    <li><%= link_to("New Blog Post", new_post_path) %></li>
      <li><%= link_to("Log Out", destroy_user_session_path, method: :delete) %></li>
    <% else %>
      <li><%= link_to("Log In", new_user_session_path) %></li>
    <% end %>
  </ul>
</nav>