<!DOCTYPE html>
<html class='<%= 'hero' if current_page?("/") %>'>
  <head>
    <title>Personal Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>

    <div class='pt-8'>
      <% flash.each do |message_type, message| %>
        <div>
          <%= message %>
        </div>
      <% end %>

      <%= yield %>
    </div>

  </body>
</html>
